<script type="text/x-jsrender" id="autocompleteAppTmpl1448012275454">
<div class="search_div" style="float:none">
    <input type="text" class="name_input" id="searchField{{:idSuffix}}" placeholder="{{:~i18n('button.search')}}"/>
    <button class="gbqfb" id="goToSearch{{:idSuffix}}" style="display:none"><span class="gbqfi"></span></button>
</div>
</script>
<script type="text/javascript">
   define("components/autocomplete/autocompleteAppTmpl.html",function(){
       return true;
   });
</script>
